@import "global";
.index--uppercase {
  text-transform: uppercase;
}
.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 25px;
  z-index: 9;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px !important;
  height: 68px !important;
}

.header__buy {
  border: 2px dashed #ecad56;
  border-radius: 50%;
}

.header__bar {
  background-color: #30292f;
  color: #fff;
}

.header__bar {
  cursor: pointer;
  position: relative;
  margin-left: auto;
  transition: transform 1s ease;
}

.header__bar--open span {
  background: transparent;
}

.header__bar--open span::before {
  top: 0px;
  width: 100%;
  transform: rotate(-45deg);
}

.header__bar--open span::after {
  transform: rotate(45deg);
  width: 100%;
  bottom: 0px;
}

.header__bar:hover span::before,
.header__bar:hover span::after {
  width: 100%;
}

.header__bar span {
  display: block;
  position: absolute;
  top: 32px;
  left: 18px;
  right: 18px;
  height: 4px;
  border-radius: 4px;
  background: #fff;
  transition: background 0.3s 0.3s;
}

.header__bar span::before,
.header__bar span::after {
  content: "";
  display: block;
  width: 50%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0.3s;
}

.header__bar span::before {
  transition-property: top, transform, width;
  top: -12px;
  right: 0;
}

.header__bar span::after {
  transition-property: bottom, transform, width;
  bottom: -12px;
}

.intro__wrapper {
  display: flex;
  align-items: center;
  background: url(../images/intro-bg.png) no-repeat 87% center / contain;
  position: relative;
  z-index: 1;
}

.intro__wrapper::after {
  content: "JEDLIMEK";
  display: block;
  font-size: 180px;
  line-height: 210px;
  font-weight: 900;
  color: #f5f5f5;
  position: absolute;
  left: 68px;
  bottom: -130px;
  z-index: -1;
}

.intro__info {
  max-width: 740px;
}

.intro__title {
  font-size: 64px;
  line-height: 68px;
}

.intro__text {
  margin-top: 32px;
}

.intro__link {
  margin-top: 40px;
  background-color: #e1e8f4;
}

.intro__product {
  display: flex;
  flex-shrink: 0;
  min-height: 700px;
  margin-left: 150px;
  margin-right: auto;
  position: relative;
}

.intro__element {
  padding-top: 160px;
  position: relative;
  z-index: 1;
  filter: drop-shadow(-80px 40px 200px rgba(0, 0, 0, 0.2));
}

.intro__element::before {
  content: "";
  display: block;
  width: 540px;
  height: 590px;
  background: url(../images/intro-bg.svg) no-repeat center / contain;
  position: absolute;
  left: 26%;
  top: 0;
  z-index: -1;
}

.intro__advantage {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  z-index: 1;
}

.intro__advantage--first {
  top: 6%;
  left: -50%;
  flex-direction: row-reverse;
  text-align: right;
}

.intro__advantage--second {
  top: 14%;
  right: -76%;
}

.intro__advantage--third {
  right: -85%;
  bottom: 5%;
}

.intro__advantage p {
  padding: 0 18px;
  max-width: 250px;
}

.intro__advantageIcon {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.about {
  max-width: 1920px;
  margin: 180px auto 250px;
  position: relative;
  z-index: 1;
}

.about::before {
  content: "";
  width: 450px;
  height: 905px;
  display: block;
  background: url(../images/about-bg-before.svg) no-repeat right center / contain;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.about::after {
  content: "";
  width: 450px;
  height: 905px;
  display: block;
  background: url(../images/about-bg-after.svg) no-repeat right center / contain;
  position: absolute;
  top: 35%;
  right: 0;
  z-index: -1;
}

.about__mainTitle {
  text-align: center;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.about__picture {
  width: 660px;
  margin: 120px auto 0;
  filter: drop-shadow(-80px 40px 200px rgba(0, 0, 0, 0.12));
}

.about__list {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.about__item {
  max-width: 460px;
  margin: 400px auto 0;
  position: relative;
}

.about__item::before {
  content: "";
  width: 52px;
  height: 52px;
  display: block;
  background: #fff url(../images/about-before.svg) no-repeat center / contain;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100px;
}

.about__item::after {
  content: "";
  width: 1px;
  height: 570px;
  background: url(../images/about-line.svg) repeat-y center / contain;
  position: absolute;
  z-index: -1;
  left: -75px;
  top: 50px;
}

.about__item:last-child::after {
  display: none;
}

.about__title {
  font-size: 40px;
  line-height: 57px;
  margin-bottom: 14px;
}

.about__text {
  font-size: 18px;
  line-height: 28px;
}

.banner {
  margin: 240px 0;
}

.banner__wrapper {
  text-align: center;
  padding: 58px 150px;
  background-color: #e1e8f4;
  border-radius: 60px;
  position: relative;
  z-index: 1;
}

.banner__wrapper::before {
  content: "";
  width: 600px;
  height: 354px;
  background: url(../images/banner-before.svg) no-repeat left bottom / contain;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.banner__wrapper::after {
  content: "";
  width: 638px;
  height: 344px;
  background: url(../images/banner-after.svg) no-repeat right bottom / contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.banner__title {
  margin: 0 90px;
  flex-grow: 1;
  max-width: 400px;
}

.banner__title--left {
  text-align: right;
}

.banner__title--right {
  text-align: left;
}

.banner__head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__img {
  max-width: 350px;
  width: 100%;
  flex-shrink: 0;
  filter: drop-shadow(-80px 40px 200px rgba(0, 0, 0, 0.2));
}

.banner__text {
  margin: 26px auto 32px;
  max-width: 726px;
}

.banner__link {
  width: 279px;
}

.exp {
  background: url(../images/exp-bg.png) no-repeat left center / contain;
}

.exp__mainTitle {
  text-align: center;
}

.exp__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.exp__list {
  display: flex;
}

.exp__second {
  margin-left: 68px;
}

.exp__card {
  width: 396px;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0px 0px 80px #e9e9e9;
  border-radius: 60px;
  position: relative;
  z-index: 1;
}

.exp__card::before {
  content: "";
  display: block;
  background: no-repeat right bottom / contain;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 60px;
}

.exp__card--first {
  margin-top: 120px;
}

.exp__card--first::before {
  width: 300px;
  height: 450px;
  background-image: url(../images/exp-card-1-before.svg);
}

.exp__card--first .exp__img::before {
  background-image: url(../images/exp-card-bg-1.svg);
}

.exp__card--second {
  margin-bottom: 78px;
}

.exp__card--second::before {
  width: 400px;
  height: 450px;
  bottom: auto;
  top: 0;
  background-image: url(../images/exp-card-2-before.svg);
  background-position-y: top;
}

.exp__card--second .exp__img::before {
  background-image: url(../images/exp-card-bg-2.svg);
}

.exp__card--third::before {
  width: 100%;
  height: 300px;
  background-image: url(../images/exp-card-3-before.svg);
}

.exp__card--third .exp__img::before {
  background-image: url(../images/exp-card-bg-3.svg);
}

.exp__card--horizontal {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 625px;
}

.exp__img {
  padding-top: 120px;
  width: 100%;
  max-width: 315px;
  flex-shrink: 0;
  margin: 0 auto;
  text-align: center;
  filter: drop-shadow(-80px 40px 200px rgba(0, 0, 0, 0.2));
  position: relative;
  z-index: 1;
}

.exp__img::before {
  content: "";
  width: 100%;
  max-width: 315px;
  height: 280px;
  background: no-repeat center / contain;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: -1;
}

.exp__info {
  margin-top: 42px;
  padding: 50px;
  padding-top: 0;
}

.exp__title {
  margin-bottom: 18px;
}

.exp__body {
  max-width: 550px;
  margin-left: -120px;
  transform: translateY(500px);
}

.exp__bodyText {
  max-width: 410px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.exp__link {
  padding-left: 88px;
  padding-right: 64px;
}

.faq__mainTitle {
  text-align: center;
}

.faq__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 80px;
  justify-content: space-between;
}

.faq__img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(28.333333333333336% - 30px);
}

.faq__list {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
}

.faq__item {
  padding: 38px 0;
  border-bottom: 1px solid #dfe1e3;
}

.faq__item:first-child {
  border-top: 1px solid #dfe1e3;
}

.faq__title {
  position: relative;
  cursor: pointer;
}

.faq__title--open::after {
  transform: rotate(180deg);
}

.faq__title::after {
  content: "";
  display: block;
  width: 14px;
  height: 24px;
  background: url(../images/faq-arrow.svg) no-repeat center / contain;
  position: absolute;
  right: 10px;
  top: 4px;
  transition: transform 0.5s ease;
}

.faq__text {
  display: none;
  margin-top: 14px;
}

.end {
  margin: 240px 0;
}

.end__wrapper {
  display: flex;
  gap: 66px;
}

.end .buy {
  width: 100%;
  max-width: 780px;
  min-height: 614px;
  background: url(../images/buy-bg.png) no-repeat center / cover;
  background-color: #e1e8f4;
  box-shadow: 0px 0px 80px rgba(202, 211, 227, 0.51);
  filter: drop-shadow(-80px 40px 200px rgba(0, 0, 0, 0.2));
  padding: 240px 0 0 340px;
  box-sizing: border-box;
  border-radius: 60px;
}

.end .buy__title {
  font-size: 40px;
  line-height: 52px;
}

.end .buy__text {
  margin-top: 14px;
}

.end .buy__link {
  width: 279px;
  margin-top: 38px;
  padding-right: 64px;
  padding-left: 86px;
}

.end .advantage {
  width: 100%;
  max-width: 920px;
  padding: 65px 85px;
  box-shadow: 0px 0px 80px rgba(202, 211, 227, 0.51);
  border-radius: 60px;
  position: relative;
  z-index: 1;
}

.end .advantage::before {
  content: "";
  width: 480px;
  height: 326px;
  display: block;
  background: url(../images/advantage-bg-before.svg) no-repeat right top / contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.end .advantage::after {
  content: "";
  width: 360px;
  height: 480px;
  display: block;
  background: url(../images/advantage-bg-after.svg) no-repeat right bottom / contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.end .advantage__item {
  padding-left: 85px;
  margin-bottom: 52px;
  position: relative;
}

.end .advantage__item::before {
  content: "";
  width: 52px;
  height: 52px;
  display: block;
  background: #fff no-repeat center / 32px;
  border: 2px dashed #ecad56;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  left: 0;
}

.end .advantage__item::after {
  content: "";
  width: 0px;
  height: 100px;
  border: 1px dashed #ecad56;
  position: absolute;
  top: 44px;
  left: 26px;
}

.end .advantage__item:last-child {
  margin-bottom: 0;
}

.end .advantage__item:last-child::after {
  display: none;
}

.end .advantage__item--coffee::before {
  background-image: url(../images/icon-coffee.svg);
}

.end .advantage__item--planet::before {
  background-image: url(../images/icon-planet.svg);
}

.end .advantage__item--map::before {
  background-image: url(../images/icon-map.svg);
}

.end .advantage__item--sun::before {
  background-image: url(../images/icon-sun.svg);
}

.end .advantage__title {
  margin-bottom: 8px;
}

.footer {
  background-color: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.footer a {
  color: #fff;
}

.footer::before {
  content: "";
  display: block;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  background: url(../images/footer-bg.png) no-repeat center bottom / contain;
  transform: translateY(-90%);
  position: absolute;
  z-index: -1;
}

.footer__head {
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.footer__headTitle {
  max-width: 400px;
  margin-left: 34px;
}

.footer__contacts {
  margin-top: 60px;
  margin-bottom: 46px;
  padding: 60px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  position: relative;
}

.footer__circle {
  width: 215px;
  height: 215px;
  display: block;
  background-color: #ecad56;
  border-radius: 50%;
  text-align: center;
  padding-top: 80px;
  font-size: 24px;
  line-height: 35px;
  color: #362623;
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 100px;
  transform: translateY(-50%);
}

.footer__contact {
  color: #fff;
  text-transform: none;
  font-size: 24px;
  font-weight: 900;
  padding: 24px 76px;
  margin-right: 28px;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 80px;
}

.footer__foot {
  display: flex;
  padding-bottom: 72px;
}

.footer__social {
  display: flex;
  gap: 22px;
}

.footer__socialItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ecad56;
  border-radius: 50%;
}

.footer__pics {
  margin-left: 40px;
  display: flex;
}

.footer__pic {
  margin-right: 20px;
}

.footer__pic img {
  border-radius: 38px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-end;
}

.footer__navLink {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 20px;
}

.footer__navLink::before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 10px;
  background-color: #ecad56;
  border-radius: 50%;
}

.footer__navLink:last-child {
  margin-right: 0;
}

.footer__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer__text a {
  text-decoration: underline;
}

// product-order
.product-order {
  padding: 90px 0 100px;
  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  &-block:nth-child(2) {
    margin-left: 80px;
    max-width: 526px;
  }
  &__title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    max-width: 460px;
    margin-bottom: 24px;
  }
  &__akce {
    margin-bottom: 32px;
    font-weight: 600;
    color: #ecad56;
    font-size: 20px;
  }
  &-or {
    max-width: 100%;
    height: 54px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    padding: 6px 6px 6px 6px;
    margin-bottom: 36px;
    &__text {
      padding: 13px 15px 11px;
      cursor: pointer;
    }
  }
  &-form {
    &__select {
      width: 265px;
      padding: 17px 0;
      text-align: center;
      border-radius: 35px;
      border: 2px dashed #ecad56;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &:nth-child(1):before {
        content: "";
        width: 26px;
        height: 25px;
        background-image: url(../images/cup__icon-1.svg);
        left: 21px;
        top: 16px;
        position: absolute;
      }
      & + & {
        margin-top: 32px;
      }
    }

    &-num {
      max-width: 238px;
      width: 100%;
      background-color: #fff;
      border-radius: 35px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      box-shadow: 0px 11px 27px 4px rgba(0, 0, 0, 0.1);
      &__cislo {
        font-size: 30px;
      }
      &__btn {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: #ecad56;
        text-align: center;
        padding-top: 1.5px;
        font-size: 30px;
      }
    }
    &__cena {
      font-size: 30px;
      font-weight: 600;
      display: inline-block;
      &-cislo {
        color: #ecad56;
      }
      &-dph {
        font-size: 16px;
      }
    }
    &__buy {
      max-width: 242px;
      width: 100%;
      height: 54px;
      border-radius: 35px;
      font-weight: 900;
      font-size: 18px;
      text-transform: uppercase;
      border: none;
      text-align: left;
      padding-left: 87px;
      background-color: #ecad56;
      position: relative;
      box-shadow: 0px 11px 27px 4px rgba(255, 167, 36, 0.284);

      &::before {
        content: "";
        position: absolute;
        width: 46px;
        height: 46px;
        background-image: url(../images/order-buy__icon.svg);
        left: 4px;
        top: 4px;
      }
    }
  }
}
.product-order-or__text.active {
  background-color: #fff;
  border-radius: 35px;
}
//product-info

.product-info {
  padding: 90px 0 200px;
  background-color: #f9f9f9;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 66px 200px;
    text-transform: uppercase;
    border-radius: 35px;
    row-gap: 53px;
    column-gap: 15px;
    position: relative;
    z-index: 9;
    &::before {
      content: "";
      position: absolute;
      width: 580px;
      height: 386px;
      background-image: url(../images/product-info__bubble-left.svg);
      left: 0;
      bottom: 0;
      border-radius: 0px 0px 0px 35px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 615px;
      height: 385px;
      background-image: url(../images/product-info__bubble-right.svg);
      right: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 0px 0px 35px 0px;
    }
  }
  &__item {
    max-width: 600px;
    width: 100%;
    padding-left: 85px;
    position: relative;
  }
  &__title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 12px;
  }
  &__text {
    font-size: 18px;
  }
  &__img {
    position: absolute;
    left: 0;
    top: -14px;
  }
}

// Informace
.header-none,
.footer-none {
  display: none;
}

.informace {
  display: flex;
  flex-wrap: wrap;
  &-left {
    background-color: #f9f9f9;
    width: 50%;
    padding: 41px 130px 200px 130px;

    &-inner {
      max-width: 670px;
    }
    .header__logo {
      margin-bottom: 56px;
    }
  }
  .form-end {
    margin-top: 22px;
  }
  &-form {
    margin-top: 45px;
    &__input {
      width: 100%;
      margin-bottom: 18px;
      border-radius: 35px;
      border: 1px solid #d9d9d9;
      padding: 17px 25px;
      background-color: #f9f9f9;
      font-size: 18px;
    }
    &-wrapper {
      display: flex;
      .informace-form__input + .informace-form__input {
        margin-left: 12px;
      }
    }
  }
  &-right {
    .header__nav {
      margin-bottom: 100px;
      justify-content: flex-end;
    }
    background-color: #fff;
    width: 50%;
    padding: 25px 131px 200px 75px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 235px;
      top: 100px;
      background-image: url(../images/informace__bubble.svg);
      width: 889px;
      height: 906px;
      z-index: -1;
      transform: scale(0.85);
    }
  }
  .product-order-order {
    max-width: 525px;
    text-transform: uppercase;
    .product-order-form__cena {
      margin-left: auto;
    }
  }
}

.form-end {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__back {
    color: #ecad56;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 24px;
      background: url(../images/faq-arrow.svg) no-repeat center/contain;
      position: absolute;
      left: 1px;
      top: -2.5px;
      transform: rotate(90deg) scale(0.85);
    }
  }
  &__btn {
    max-width: 279px;
    width: 100%;
    height: 55px;
    border-radius: 35px;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    text-align: left;
    padding-left: 87px;
    background-color: #ecad56;
    position: relative;
    box-shadow: 0px 11px 27px 4px rgba(255, 167, 36, 0.284);
    &::before {
      content: "";
      width: 48px;
      height: 48px;
      background: #ecad56 url(../images/icon-link.svg) no-repeat center/32px;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
    }
  }
}
.breadcrumbs {
  overflow: hidden;
  &__item {
    display: inline-block;
    position: relative;
    & + & {
      padding-left: 35px;
      &::before {
        content: "";
        background-image: url(../images/arrow-right.svg);
        width: 7px;
        height: 12px;
        position: absolute;
        left: 13px;
        top: 4px;
      }
    }
    &--active {
      color: #000;
      font-weight: 900;
    }
  }
  &__link {
    font-size: 18px;
    color: #435ac7;
  }
}

// expedice
.expedice {
  &__list {
    margin-top: 25px;
    margin-bottom: 56px;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 20px 0 20px;
    border-bottom: 1px solid #d9d9d9;
    &:nth-child(1) {
      border-top: 1px solid #d9d9d9;
    }
    &-wrapper {
      display: flex;
    }
  }
  &__question {
    width: 160px;
    color: #7a7a7a;
  }
  &__answer {
    width: 250px;
    color: #000;
  }
  &__zmenit {
    margin-left: auto;
    color: #ecad56;
    font-weight: 600;
  }
  &-form {
    &__title {
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 20px;
    }
    &__item {
      display: flex;
      align-items: center;
      font-size: 18px;
      border-top: 1px solid #d9d9d9;
      padding: 20px 0;
      &:last-child {
        border-bottom: 1px solid #d9d9d9;
      }
    }
    &-icons {
      margin-left: auto;
    }
    &__img + &__img {
      margin-left: 15px;
    }
    .expedice-form__item--last {
      border-bottom: 1px solid #d9d9d9;
    }
    &__label {
      padding-left: 50px;
    }
    &__option {
      &-doprava {
        color: #000;
        margin-bottom: 4px;
      }
      &-dny {
        color: #7a7a7a;
        font-size: 14px;
      }
    }
    &__cost {
      margin-left: auto;
      font-weight: 900;
    }
  }
  .form-end {
    margin-top: 32px;
  }
}

// platba

.platba-form-block:nth-child(1) {
  margin-bottom: 55px;
  .expedice-form__item {
    border-bottom: 1px solid #d9d9d9;
  }
}
.platba-form-karta {
  background-color: #eee;
  padding: 18px 36px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    .platba-form-karta__input + .platba-form-karta__input {
      margin-top: 0;
      margin-left: 12px;
    }
  }
  &__input {
    width: 100%;
    border-radius: 35px;
    border: 1px solid #d9d9d9;
    padding: 9px 18px;
    background-color: #f9f9f9;
    font-size: 16px;

    & + & {
      margin-top: 12px;
    }
  }
}
.platba .form-end {
  margin-top: 55px;
}

// 404
.chyba {
  padding: 200px 0 200px;
  &-inner {
    text-align: center;
  }
  &__title {
    color: #f3c78a;
    font-size: 400px;
    font-weight: 900;
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      left: -616px;
      top: -314px;
      width: 792px;
      height: 883px;
      background-image: url(../images/404__line.svg);
    }
    &::after {
      content: "";
      position: absolute;
      right: -633px;
      bottom: -369px;
      width: 950px;
      height: 786px;
      background-image: url(../images/404__bubble.svg);
      z-index: -1;
    }
  }
  &__subtitle {
    font-size: 40px;
    font-weight: 900;
    color: #999;
    text-transform: uppercase;
    margin-top: -40px;
  }
}

// dekuju
.dekuju__bg {
  background-image: url(../images/dekuju__bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dekuju {
  text-align: center;
  padding: 200px 0 250px;
  text-transform: uppercase;
  &__title {
    margin-bottom: 32px;
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
  }
  &__subtitle {
    font-size: 18px;
    margin-bottom: 64px;
  }
  &__link {
    width: 166px;
    padding-left: 70px;
    padding-top: 18px;
  }
}

@import "media";
